.main{
	margin-top: 65px;
}

.loader{
	margin-bottom: 30px;
}

.pointer{
	cursor: pointer;
}

.user-image{
	width: 35px;
	height: 35px;
	overflow: hidden;
	border-radius: 200px;
	margin-top: 8px;
}

.user-image img{
	margin: 0px;
	padding: 0px;
	margin-top: -20px;
	margin-left: -20px;
	width: 65px;
}

/*Listado videos home*/

#videos-list{
	list-style: none;
	margin: 0px;
	margin-top:20px;
	padding: 0px;
}

.video-item{
	margin-bottom: 30px;
}

.video-image-thumb{
	width: 100%;
	height: 150px;
	overflow: hidden;
	background: #ddd;
}

.video-image-thumb img{
	width: 100%;
	margin-top: -27px;
}

.video-item .data{
	border: 1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
	border-top: 0px;
	height: 130px;
}

/*Fin listado videos home*/

#video-player{
	width:100%;
}

.video-data{
	margin-top: 15px;
}

#videos-list{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}

.last-video-item {
	margin-bottom: 5px;
	font-size: 13px !important;
}

.last-video-item .last-video-image-thumb{
	width: 80px;
	height: 81px;
	margin-top:-1px;
	overflow: hidden;
	background:#E7E7E7;
	border-radius: 4px 0px 0px 4px;
}

.last-video-image-thumb img{
	width: 120px;
	margin-left: -37px;
	/*margin-top:-7px;*/
}

.last-video-item .data{
	border: 1px solid #ddd !important;
	border-left: 0px !important;
	border-radius: 0px 4px 4px 0px;
	height: 82px;
	margin-top: -1px;
}

/*Canal del usuario*/
.channel-head{
	text-align: center;
}

.image-channel{
	width: 150px;
	height: 150px;
	border-radius: 500px;
	overflow: hidden;
	margin: 0px auto;
	background: #ccc;
}

.image-channel img{
	height: 160px;
}

/*Fin canal del usuario*/