<hr/>
<h4>{{titulo}}</h4>
<hr/>

<form #newCommentForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4">
	<p>
		<textarea class="form-control" #body="ngModel" name="body" [(ngModel)]="comment.body" required></textarea>
	</p>
	<span *ngIf="!body.valid && body.touched">
		Rellena el comentario por favor...
	</span>
	<input type="submit" value="Comentar" class="btn btn-success" />
</form>

<div class="clearfix"></div>
<hr/>

<div class="loader" *ngIf="loading == 'show'">
	<img src="assets/images/ajax-gray.gif" />
</div>

<div id="comments-list" *ngIf="commentList">

	<div *ngFor="let comment of commentList" class="comment-item col-md-12 pull-left">

		<div class="panel panel-default comment-data comment-panel-{{comment.id}}">
			<div class="panel-heading">
				<h3 class="panel-title">
					Comentario de <strong>{{comment.user.name}}</strong> el {{comment.createdAt.timestamp | generateDate }}
				</h3>
			</div>
			<div class="panel-body">
				{{comment.body}}
			</div>

			<div class="pull-right" *ngIf="identity.sub == comment.user.id || identity.sub == comment.video.user.id">
				<span class="glyphicon glyphicon-trash pointer" aria-hidden="true" (click)="deleteComment(comment.id)"></span>
			</div>

			<div class="clearfix"></div>
		</div>

	</div>
</div>