<div class="col-md-12">
	<hr/>
	<h1>{{titulo}}</h1>
	<hr/>

	<div class="alert alert-success" *ngIf="status == 'success'">
		Te has registrado correctamente, ahora puedes identificarte
		<a [routerLink]="['/login']">pinchando aqui...</a>
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		No ha sido posible registrarte en la plataforma, intentalo más tarde.
	</div>

	<form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4">
		<p>
			<label>Nombre:</label>
			<input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="user.name" required/>
			<span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
		</p>

		<p>
			<label>Apellidos:</label>
			<input type="text" class="form-control" #surname="ngModel" name="surname" [(ngModel)]="user.surname" required/>
			<span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorios</span>
		</p>

		<p>
			<label>Email:</label>
			<input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email" required/>
			<span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
		</p>

		<p>
			<label>Contraseña:</label>
			<input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="user.password" required/>
			<span *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
		</p>

		<input type="submit" value="Registrarse" class="btn btn-success"/>
	</form>
</div>