<div class="col-md-12">
	<hr/>
	<h1>{{titulo}} {{searchString}}</h1>
	<hr/>

	<div class="all-videos">
		<div class="loader" *ngIf="loading == 'show'">
			<img src="assets/images/ajax-gray.gif" />
		</div>

		<ul id="videos-list" *ngIf="videos && loading == 'hide'">
			<li *ngFor="let video of videos" class="video-item col-md-4 pull-left">
				<div class="video-image-thumb">
					<img src="http://localhost/curso-fullstack/symfony/web/uploads/video_images/video_{{video.id}}/{{video.image}}"  *ngIf="video.image"/>
				</div>
				<div class="data">
					<h4><a [routerLink]="['/video', video.id]">{{video.title}}</a></h4>
					<p>Subido por <a [routerLink]="['/index']">{{video.user.name}} {{video.user.surname}}</a></p>
					<div class="video-buttons" *ngIf="identity && identity != null && identity.sub == video.user.id">
						<a [routerLink]="['/edit-video', video.id]" class="btn btn-primary">Editar</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</li>
		</ul>
	</div>

	<div class="clearfix"></div>

	<ul class="pagination" *ngIf="searchString">
		<li>
			<a [routerLink]="['/search', searchString, pagePrev]" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li *ngFor="let page of pages">
			<a [routerLink]="['/search', searchString, page + 1]">{{page + 1}}</a>
		</li>
		<li>
			<a [routerLink]="['/search', searchString, pageNext]" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</div>